@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width:auto; 
    padding: 34px;
    margin: 23px;
    height: 600px;
    
}
.container p,h2{
    text-align: center;
    font-family: Arial, Helvetica, Arial, sans-serif;
    
}

input,textarea{
    width: 80%;
    margin: 11px;
    padding:7px;
    font-size: 17px;
    border:2px solid black;
    
}

form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* change textbox style */

input[type="text"], input[type="phone"], input[type="email"] {
    width: 350px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #070706;
    outline: none;
    color: black;
    font-size: 18px;
  }
  ::placeholder {
    color: black;
    opacity: 1;
  }

  .files {
      background: transparent;
      color: #000000;
      border: 0;
      border-bottom: 2px solid #070706;
      margin-bottom: 20px;
      width: 35%;
      height: 30px; 
  }

  .selectBox {
    background: transparent;
    font-size: 16px;
    color: black;
    width: 35%;
    height: 30px;
    margin-bottom: 20px;
}

    .date {
        background: transparent;
    font-size: 16px;
    color: black;
    width: 35%;
    height: 30px;
    }

.btn {
    
    background: #3194a1;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  .btn:hover {
    background: #1b4240;
  }

  
.bg{
    background-size: auto;
    position:absolute;
    z-index:-1;
    opacity:0.6;
 
}


h1 { color:black; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px;
     margin: 0 0 24px; text-align: center; text-transform: uppercase; 
    }

.gg{
    width:20%;
     

    }


    input[type="radio"]:checked+label { font-weight: bold; }